<div class="validation-page documentation" data-block-id="1.2">
    <div class="title-main">
        Validation
    </div>

    <div class="title-section">
        # Usage in controllers
    </div>

    <div class="description">
        Controllers have a validator property that lets you validate your requests using rules.
    </div>
    <div class="code">
        <div class="filename">App/Http/Controllers/UserController.php</div>
        <div class="content">
            <span class="orange">&lt;?php</span><br><br>
            <span class="orange">namespace</span> App\Http\Controllers<span class="orange">;</span><br><br>
            <span class="orange">class</span> UserController <span class="orange">extends</span> Controller<br>
            &#123;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="orange">public function</span> <span class="gold">fetchUser</span>()<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&#123;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
            &#125;<br>
        </div>
    </div>
</div>
