<div class="middlewares-page documentation" data-block-id="1.2">
    <div class="title-main">
        Middlewares
    </div>

    <div class="description">
        A middleware is piece of code that is run before the request reaches your controller. One or more middleware
        classes can be registered on any route or route group. A common use case is to verify a user's identity
        before allowing access to your application. If the user's identity is invalid, your can choose to return an
        unauthorized response right away before ever reaching the controller.
    </div>

    <div class="title-section">
        # Simplest middleware
    </div>
</div>
