<div class="main-menu">
    <div class="body">
        <a routerLink="/documentation#routing" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item selected">
                <div class="text">
                    Routing
                </div>
            </div>
        </a>
        <a routerLink="/documentation#requests" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item">
                <div class="text">
                    Requests
                </div>
            </div>
        </a>
    </div>
</div>