@import "../../variables";

$menu-width: 260px;
$menu-header-height: 120px;

.main-menu {
  height: 100%;
  width: $menu-width;
  margin-right: 20px;

  .body {
    .menu-item {
      height: 40px;
      display: flex;
      align-content: center;
      padding: 0 10px;
      border-radius: 4px;
      margin-bottom: 5px;

      .text {
        height: 40px;
        line-height: 40px;
        flex-basis: 100%;
        font-size: 20px;
      }
    }

    .menu-item:hover {
      background-color: #e2e2e2;
    }

    .menu-item.selected {
      background-color: $color-main;

      .text { color: #fff; }
    }
  }
}
