<div class="main-menu">
    <div class="body">
        <a class="menu-item" routerLink="/" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="text">
                Routing
            </div>
        </a>
        <a class="menu-item" routerLink="/controllers" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="text">
                Controllers
            </div>
        </a>
        <a class="menu-item" routerLink="/validation" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="text">
                Validation
            </div>
        </a>
    </div>
</div>